<!--<div class="container">-->

  <!--<h4>Here is the root component</h4>-->
  <!--<p>Input field</p>-->
  <!--<input type="text" [(ngModel)]="input">-->
  <!--<p>Output field</p>-->
  <!--<p>{{input}}</p>-->
  <!--<hr>-->
  <!--<app-servers></app-servers>-->

<!--</div>-->

<div style="text-align: center">
  <h1>Welcome to {{title}}</h1>
</div>

<mat-toolbar>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.facebook.com/">Facebook</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.youtube.com/">Youtube</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.angular.io/">Angular</a>
  </mat-toolbar-row>
</mat-toolbar>



<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center center" >



  <mat-card *ngFor="let picture of pictures" class="card-picture" fxFlex="20%">
    <mat-card-title fxLayout.xs="column" fxLayoutGap="5px">
      <span fxFlex="80%">{{picture.caption}}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image src={{picture.img}}>
  </mat-card >

</div>


