

<div style="text-align: center">
  <h1>Welcome to {{title}}</h1>
</div>

<mat-toolbar>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.facebook.com/">Facebook</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.youtube.com/">Youtube</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a target="_blank" href="https://www.angular.io/">Angular</a>
  </mat-toolbar-row>
</mat-toolbar>



<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center center" [ngStyle.xs]="{'font-size.px': 10, color: 'blue'}">

  <mat-card *ngFor="let picture of pictures" class="card-picture" fxFlex="20%">
    <mat-card-title fxLayout.xs="column" fxLayoutGap="5px">
      <span fxFlex="80%">{{picture.caption}}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%" (click)="deletePicture(picture)" style="cursor: pointer">delete</mat-icon>
      <mat-icon fxFlex="10%" (click)="addClick()" style="cursor: pointer">alarm</mat-icon>
    </mat-card-title>
    <img mat-card-image src={{picture.img}} (click)="openPicture(picture)">
  </mat-card >

</div>


<!--<app-mock-service [image]="notify" ></app-mock-service>-->
<app-mock-service [image]="selectedImage" ></app-mock-service>


