h4 {
    color: #007bff;
  }
  
  .card-picture{
    background: silver;
    margin-bottom: 15px;
  
  }
  
  /*.card-picture:hover {*/
    /*!*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*!*/
    /*!*background-color: #64b5f6;*!*/
  /*}*/
  
  .card-picture img:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }
  